<!-- Header -->
<header class="header" id="header">
    <nav class="nav container">
        <div class="nav__brand">
            <a href="index.html" class="nav__logo">
                <i class="fas fa-cube"></i>
                TechVision
            </a>
        </div>
        
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="index.html" class="nav__link">Home</a>
                </li>
                <li class="nav__item mega-menu">
                    <a href="#" class="nav__link">About <i class="fas fa-chevron-down"></i></a>
                    <div class="mega-menu__content">
                        <div class="mega-menu__section">
                            <h4>Company</h4>
                            <ul>
                                <li><a href="about.html" class="mega-menu__link">Our Story</a></li>
                                <li><a href="team.html" class="mega-menu__link">Our Team</a></li>
                                <li><a href="careers.html" class="mega-menu__link">Careers</a></li>
                            </ul>
                        </div>
                        <div class="mega-menu__section">
                            <h4>Values</h4>
                            <ul>
                                <li><a href="about.html#mission" class="mega-menu__link">Our Mission</a></li>
                                <li><a href="about.html#vision" class="mega-menu__link">Our Vision</a></li>
                                <li><a href="about.html#values" class="mega-menu__link">Core Values</a></li>
                            </ul>
                        </div>
                    </div>
                </li>
                <li class="nav__item mega-menu">
                    <a href="#" class="nav__link">Services <i class="fas fa-chevron-down"></i></a>
                    <div class="mega-menu__content">
                        <div class="mega-menu__section">
                            <h4>Development</h4>
                            <ul>
                                <li><a href="services/web-development.html" class="mega-menu__link">Web Development</a></li>
                                <li><a href="services/mobile-app-development.html" class="mega-menu__link">Mobile Apps</a></li>
                                <li><a href="services/ui-ux-design.html" class="mega-menu__link">UI/UX Design</a></li>
                            </ul>
                        </div>
                        <div class="mega-menu__section">
                            <h4>Marketing</h4>
                            <ul>
                                <li><a href="services/digital-marketing.html" class="mega-menu__link">Digital Marketing</a></li>
                                <li><a href="services/seo-services.html" class="mega-menu__link">SEO Services</a></li>
                                <li><a href="services/social-media-management.html" class="mega-menu__link">Social Media</a></li>
                                <li><a href="services/graphic-design.html" class="mega-menu__link">Graphic Design</a></li>
                            </ul>
                        </div>
                        <div class="mega-menu__section">
                            <h4>Technology</h4>
                            <ul>
                                <li><a href="services/cloud-solutions.html" class="mega-menu__link">Cloud Solutions</a></li>
                                <li><a href="services/cybersecurity.html" class="mega-menu__link">Cybersecurity</a></li>
                                <li><a href="services/it-consulting.html" class="mega-menu__link">IT Consulting</a></li>
                            </ul>
                        </div>
                        <div class="mega-menu__footer">
                            <a href="services.html" class="btn btn--primary btn--small">
                                <i class="fas fa-th-large"></i>
                                View All Services
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav__item">
                    <a href="portfolio.html" class="nav__link">Portfolio</a>
                </li>
                <li class="nav__item">
                    <a href="blog.html" class="nav__link">Blog</a>
                </li>
                <li class="nav__item">
                    <a href="contact.html" class="nav__link">Contact</a>
                </li>
                <li class="nav__item">
                    <a href="faq.html" class="nav__link">FAQ</a>
                </li>
            </ul>
        </div>
        
        <div class="nav__cta">
            <a href="contact.html" class="btn btn--primary">
                <i class="fas fa-phone"></i>
                Get Quote
            </a>
        </div>
        
        <div class="nav__toggle" id="nav-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
</header>