<!-- Header -->
<header class="header" id="header">
    <nav class="nav container">
        <div class="nav__brand">
            <a href="index.html" class="nav__logo">
                <i class="fas fa-cube"></i>
                TechVision
            </a>
        </div>
        
        <div class="nav__menu" id="nav-menu">
            <ul class="nav__list">
                <li class="nav__item">
                    <a href="index.html" class="nav__link">Home</a>
                </li>
                <li class="nav__item">
                    <a href="about.html" class="nav__link">About</a>
                </li>
                <li class="nav__item mega-menu">
                    <a href="#" class="nav__link">Solutions <i class="fas fa-chevron-down"></i></a>
                    <div class="mega-menu__content">
                        <div class="mega-menu__section">
                            <h4>Digital Development</h4>
                            <ul>
                                <li><a href="services/web-development.html" class="mega-menu__link">Enterprise Web Solutions</a></li>
                                <li><a href="services/mobile-app-development.html" class="mega-menu__link">Mobile Applications</a></li>
                                <li><a href="services/ui-ux-design.html" class="mega-menu__link">User Experience Design</a></li>
                            </ul>
                        </div>
                        <div class="mega-menu__section">
                            <h4>Digital Marketing</h4>
                            <ul>
                                <li><a href="services/digital-marketing.html" class="mega-menu__link">Strategic Marketing</a></li>
                                <li><a href="services/seo-services.html" class="mega-menu__link">SEO Optimization</a></li>
                                <li><a href="services/social-media-management.html" class="mega-menu__link">Social Media Strategy</a></li>
                                <li><a href="services/graphic-design.html" class="mega-menu__link">Brand Design</a></li>
                            </ul>
                        </div>
                        <div class="mega-menu__section">
                            <h4>Enterprise Technology</h4>
                            <ul>
                                <li><a href="services/cloud-solutions.html" class="mega-menu__link">Cloud Infrastructure</a></li>
                                <li><a href="services/cybersecurity.html" class="mega-menu__link">Security Solutions</a></li>
                                <li><a href="services/it-consulting.html" class="mega-menu__link">Technology Consulting</a></li>
                            </ul>
                        </div>
                        <div class="mega-menu__footer">
                            <a href="services.html" class="btn btn--primary btn--small">
                                <i class="fas fa-th-large"></i>
                                View All Services
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav__item">
                    <a href="portfolio.html" class="nav__link">Portfolio</a>
                </li>
                <li class="nav__item">
                    <a href="blog.html" class="nav__link">Insights</a>
                </li>
                <li class="nav__item">
                    <a href="contact.html" class="nav__link">Contact Us</a>
                </li>
                <li class="nav__item">
                    <a href="faq.html" class="nav__link">FAQ</a>
                </li>
            </ul>
        </div>
        
        <div class="nav__cta">
            <a href="contact.html" class="btn btn--primary">
                <i class="fas fa-calendar-alt"></i>
                Schedule Consultation
            </a>
        </div>
        
        <div class="nav__toggle" id="nav-toggle">
            <i class="fas fa-bars"></i>
        </div>
    </nav>
</header>